
body {
    /*
    background-color: #F7F7FF;
    */
}

#scene {
    background-color: white;
    height: 400px;
    width: 1000px;
}

#pool {
    position: absolute;
    margin-top: 100px;
    margin-left: 180px;
    width: 800px;
}

.swimmer {
    position: absolute;
    width: 75px;
}

#basket {
    position: absolute;
    margin-top: 445px;
    margin-left: 100px;
    width: 100px;
    z-index: 100;
}

.cap {
    position: absolute;
    z-index: 50;
    height: 20px;
}

.lockers {
    position: absolute;
    margin-top: 415px;
    margin-left: 40px;
    width: 250px;
    z-index: 100;
}

.lockers.bg {
    z-index: 0;
}

.gymbag {
    position: absolute;
    z-index: 50;
    width: 48px;
}

.safety {
    position: absolute;
    margin-left: 900px;
    width: 120px;
    text-align: center;
    border: 4px #888 solid;
    border-radius: 12px;
    background-color: #F7F7F7;
    padding: 8px;
}

.safety h2 {
    margin-top: 0.2rem;
}

#safety-indicator {
    height: 40px;
}