body {
    background-color: #F7F7FF;
}

#scene {
    margin-top: 200px;
    background-color: white;
}

#pool {
    position: absolute;
    margin-left: 180px;
    width: 800px;
}

.swimmer {
    position: absolute;
    height: 50px;
}

#basket {
    position: absolute;

}

.cap {
    position: absolute;
    z-index: 999;
    height: 20px;
}
